@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: linear-gradient(to bottom, black, #1f2937);
  --foreground: #ffffff;
  --card: #f8f8f8;
  --card-foreground: #000;
  --popover: #f8f8f8;
  --popover-foreground: #000;
  --primary: #4caf50;
  --primary-foreground: #fff;
  --secondary: #66bb6a;
  --secondary-foreground: #fff;
  --muted: #e8f5e9;
  --muted-foreground: #2e7d32;
  --accent: #81c784;
  --accent-foreground: #fff;
  --destructive: oklch(0.577 0.245 27.325);
  --border: #ddd;
  --input: #ddd;
  --ring: #81c784;
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: #f8f8f8;
  --sidebar-foreground: #000;
  --sidebar-primary: #e8f5e9;
  --sidebar-primary-foreground: #2e7d32;
  --sidebar-accent: #c8e6c9;
  --sidebar-accent-foreground: #2e7d32;
  --sidebar-border: #ddd;
  --sidebar-ring: #81c784;
}

.dark {
  --background: linear-gradient(to bottom, black, #1f2937);
  --foreground: #ffffff;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-black text-white;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary text-primary-foreground px-4 py-2 rounded-md shadow hover:bg-green-600;
  }
}

.wallet-adapter-button:not([disabled]):hover {
  background-color: #008c05;
  color: white;
}

.wallet-adapter-button-trigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  font-size: 0.875rem;
  font-weight: 500;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  outline: none;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.05);
  background-color: rgba(79, 226, 6, 0.985);
  color: black;
  height: 2.25rem;
  padding: 0.8rem 1.5rem;
}

.wallet-adapter-button-trigger:hover {
  background-color: #41f600e2;
  color: black;
}

.wallet-adapter-button-trigger:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px rgba(209, 213, 219, 1);
}

.wallet-adapter-button-trigger:disabled {
  pointer-events: none;
  opacity: 0.5;
}

@media (min-width: 768px) {
  .wallet-adapter-button-trigger {
    height: 2.5rem;
  }
}